<!-- <section class="posts"> -->
    <article class="post" [class.is-first]="isFirst">
        <div class="text-block-post">
            <p class="post-desc">Product photography</p>
            <h3>{{article.title}}</h3>
            <p>{{article.content}}</p>
        </div>
        <div class="image-container-post">
            <img src="./assets/images/imagenotloaded.png" alt="" class="bg-img">
        </div>
    </article>
    <!-- <button class="post-btn">Browse all posts</button>
</section> -->