<section class="work-section">
    <div class="work-desc">
        <h1 class="work-title">My work</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sint, quasi totam suscipit, voluptate beatae harum voluptas dolorum iusto.</p>
    </div>
    <div class="work-grid">
        <article class="work-card">
            <div class="work-card-image-container">
                <img src="./assets/images/image1.png" alt="Me" width="66" height="59">
            </div>
            <div class="work-card-text">
                <p>consectetur - (2016-2017)</p>
                <h4>Graphic design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fuga labore sapiente doloremque.</p>
            </div>
        </article>
        <article class="work-card">
            <div class="work-card-image-container">
                <img src="./assets/images/image2.png" alt="Me" width="69" height="67">
            </div>
            <div class="work-card-text">
                <p>consectetur - (2016-2017)</p>
                <h4>Graphic design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fuga labore sapiente doloremque.</p>
            </div>
        </article>
        <article class="work-card">
            <div class="work-card-image-container">
                <img src="./assets/images/image3.png" alt="Me" width="75" height="75">
            </div>
            <div class="work-card-text">
                <p>consectetur - (2016-2017)</p>
                <h4>Graphic design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fuga labore sapiente doloremque.</p>
            </div>
        </article>
    </div>
</section>