* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #323747;
  --secondary-color: #68686A;
  --hover-color: #61C15C;
  --background-color: #ffffff;
  --text-color: #323747;
}

html {
  scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Inter;
  }

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.navbar{
    display: flex;
    justify-content: end;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.navbar a:hover {
    color: var(--hover-color);
    font-weight: bold;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.name-folio{
    position: relative;
    margin: 0;
}

.admin-panel {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(40px, -50%); 
    background-color: #ffffff;
    padding: 20px 15px;
    border-radius: 25px 0 0 25px; 
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1000;
}

.admin-panel:hover {
    transform: translate(0, -50%);
    box-shadow: 8px 0 25px rgba(0, 0, 0, 0.15); 
}

.panel-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--hover-color);
    transition: 0.3s ease;
}

.panel-btn:hover {
    color: #3e8838;
    transform: scale(1.1);
}

.stats-grid {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.stats-card {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

#stats-modal h1 {
    color: var(--text-color);
}

.stats-label {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
}

.stats-number {
    color: var(--text-color);
    font-size: 46px;
    font-weight: 800;
    line-height: 1;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    align-items: center;
}

.myblogs-image {
    position: absolute;
    left: 930px;
    bottom: 400px;
}

.text-block {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    gap: 30px;
}

.desc-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.desc-container p {
    line-height: 25px;
    color: var(--secondary-color);
}

.desc-container a {
    color: var(--hover-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.desc-container a:hover {
    color: var(--primary-color);
}

.image-container {
    display: flex;
    justify-content: center;
}

.posts {
    display: grid;
    align-items: center;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 1200px;
    height: 400px;
    align-content: center;
    margin: auto;
    margin-top: 40px;
}

.post:nth-child(1) .text-block-post {
  background-color: #FEF3EF;
}

.post:nth-child(1) p:first-of-type {
  color: #DB5E31;
  font-weight: 300;
}

.post:nth-child(2) .text-block-post {
  background-color: #F4FBF4;
}

.post:nth-child(2) p:first-of-type {
  color: #61C15C;
  font-weight: 300;
}

.text-block-post {
    height: 400px;
    padding-left: 40px;
    padding-top: 70px;
}

.text-block-post p:first-of-type {
    margin-bottom: 0.5rem;
}

.text-block-post h3 {
    margin-bottom: 0.75rem;
}

.image-container-post {
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url('images/imagenotloaded.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.post-btn {
    height: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.post-btn:hover {
  background-color: rgba(16, 185, 129, 0.1);
  color: var(--hover-color);
}

.skills-section {
    max-width: 800px;
    margin: 0 auto;
}

.skills-title {
    max-width: 1200px;
    margin: auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.skill-item {
    height: 60px;
    font-size: large;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #68686b79;
}

.work-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    align-content: center;
    margin: auto;
    margin-top: 10rem;
}

.work-card {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid #68686b79;
}

.work-card-image-container {
    margin: auto;
    padding-bottom: 60px;
}

.work-card-text h4:first-of-type {
    padding-top: 20px;
    padding-bottom: 20px;
}

.work-desc p:first-of-type{
    padding-top: 30px;
}

.hobby {
    margin-top: 8rem;
}

.hobby-article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    gap: 65px;
}

.hobby-article-grid p:first-of-type {
    padding-top: 15px;
}

.hobby-grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: auto;
    gap: 10px;
}

.hobby-vertical {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-left: 100px;
    gap: 40px;
}

.hobby-image-1 {
  position: relative;
  width: 268px;
  height: 552px;
  border-radius: 8px;
  overflow: hidden;
  background: url('images/me.jpg') center / cover no-repeat;
  transition: transform 0.3s ease;
}

.hobby-image-1 h4,
.hobby-image-1 p {
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  color: white;
  opacity: 0;
  transform: translateY(600px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 2;
}

.hobby-image-1 h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 20px;
  text-align: center;
}

.hobby-image-1 p {
  font-size: 0.95rem;
  line-height: 1.5;
  opacity: 0.9;
  margin-left: 15px;
}

.hobby-image-1:hover {
  transform: translateY(-4px);
  transition: color 0.3s ease;
  background: 
    linear-gradient(rgba(19, 139, 19, 0.541), rgba(43, 44, 43, 0.7)),
    url('images/me.jpg') center / cover no-repeat;
}

.hobby-image-1:hover h4,
.hobby-image-1:hover p {
  opacity: 1;
  transform: translateY(0);
}

.hobby-image-2 {
  position: relative;
  width: 268px;
  height: 552px;
  border-radius: 8px;
  overflow: hidden;
  background: 
    linear-gradient(rgba(20, 20, 25, 0.7), rgba(20, 20, 25, 0.7)),
    url('images/me.jpg') center / cover no-repeat;
  transition: transform 0.3s ease;
}

.hobby-horizontal {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-right: 100px;
    gap: 10px;
}

.hobby-image-3, .hobby-image-4 {
  position: relative;
  width: 568px;
  height: 264px;
  border-radius: 8px;
  overflow: hidden;
  /* object-fit: none; */
}

.footer {
    background-color: #1E2128;
    width: 100%;
    height: 418px;
}

.footer h1, .footer p, .footer a {
    color: #ffffff;
}

.footer p, .footer a {
    font-size: large;
}

.footer a:hover {
    transition: color 0.3s ease, font-weight 0.3s ease;
    color: var(--hover-color);
} 

.footer-email-number, .footer-social-networks {
    color: #ffffff;
}

.footer-social-networks-grid {
    display: flex;
    gap: 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    /* padding-top: 8vw; */
}

.footer-contacts-grid {
    display: grid;
    grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr;
    margin: auto;
    gap: 15px;
}

.socnet-link:hover {
    transition: color 0.3s ease, font-weight 0.3s ease;
    color: var(--hover-color);
}

.footer-title {
    padding-top: 30px;
}

.footer-to-top {
    text-decoration: none;
}

.copyright {
    padding-top: 40px;
}

.footer-form {
    padding-top: 35px;
    border-radius: 8px;
    background-color: #1E2128;
}

.footer-form label {
    color: #ffffff;
    text-align: left;
    font-weight: 300;
}

.footer-form input, .footer-form textarea {
    background-color: #1E2128;
    border-radius: 8px;
}

.footer-form input {
    height: 50px;
}

.footer-form textarea {
    height: 160px;
}

.footer-form-btn {
    width: 160px;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
    background: var(--hover-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

.footer-form-btn:hover {
  background-color: rgba(16, 185, 129, 0.1);
  border-color: var(--hover-color);
  /* border: 1px solid transparent; */
  color: var(--hover-color);
}

.blogs {
    text-align: center;
}

.blogs-title-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.blogs-title-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.blogs-title-image {
    display: flex;
    justify-content: end;
}

.main-blog {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    max-width: 1200px;
    height: 454px;
    margin: auto;
    margin-top: 5vw;
}

.image-container-main-blog {
    display: flex;
    justify-content: center;
    height: 454px;
    background-image: url('images/imagenotloaded.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-container-main-blog {
    background-color: #FAFAFA;
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
}

.text-container-main-blog p:first-of-type {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-container-main-blog time:first-of-type {
    font-weight: 300;
}

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    row-gap: 5rem;
    padding-top: 3rem;
    max-width: 1200px;
    margin: auto;
}

.mini-blog {
    display: grid;
    max-width: 600px;
    grid-template-rows: 2fr 1fr;
    text-align: start;
    transition: 0.3s ease;
}

.mini-blog:hover {
    transform: scale(1.05);
}

.article-title {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.mini-blog p:first-of-type {
    margin-bottom: 20px;
}

.mini-blog time:first-of-type {
    font-weight: 300;
}

.image-container-mini-blog {
    display: flex;
    justify-content: center;
    background-image: url('images/imagenotloaded.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#blogs-btn {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 170px;
}

.delete-btn {
    background: none;
    position: absolute;
    transition: 0.3s ease;
    opacity: 0;
    right: 0;
    top: 0;
}

.mini-blog:hover .delete-btn {
    opacity: 1;
    transition: 0.3s ease;
}

.delete-btn:hover {
    transform: scale(1.1);
}

.btn {
    height: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.form {
    text-align: left;
}

.modal {
    margin: auto;
    padding: 2% 5% 2% 5%;
    box-sizing: border-box;
    width: 75%;
    height: 45%;
    border-radius: 8px;
    border-color: #ffffff;
}

.modal:not([open]) {
    display: none !important;
}

.modal::backdrop {
    background-color: #00000073;
}

.btn:hover {
    background-color: rgba(16, 185, 129, 0.1);
    color: var(--hover-color);
}

.blog-form {
    border-radius: 8px;
    border-color: var(--hover-color);
}

.blog-form h1 {
    color: var(--text-color);
}

.blog-form label {
    color: #1E2128;
    text-align: left;
    font-weight: 300;
}

.blog-form input, .blog-form textarea {
    border-radius: 8px;
    border-color: #000000 !important;
}

.blog-form input {
    height: 50px;
}

.blog-form-btn {
    width: 100px;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
    background: var(--hover-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

.blog-form-btn:hover {
    background-color: rgba(16, 185, 129, 0.1);
    border-color: var(--hover-color);
    color: var(--hover-color);
}

#close-btn {
    margin: 0;
    width: 100px;
}

@media (max-width: 800px) {
  .main-blog {
    grid-template-columns: 1fr;
    height: auto;
  }

  .image-container-main-blog {
    height: auto;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
  }

  .blogs-grid {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  #blogs-btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 52px;
    /* margin: 0 0 12px 0; */
}
h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    /* margin: 24px 0 8px 0; */
}
h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    /* margin: 12px 0 4px 0; */
}

h4.bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    /* margin: 12px 0 4px 0; */
}

h4, h4.regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    /* margin: 12px 0 4px 0; */
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    /* margin: 4px 0;
    padding: 0; */
}

a {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
}

ul {
    margin: 4px 0;
    padding-left: 20px;
}
li {
    margin: 2px 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 8px 0;
}

section {
  margin: 50px 0;
}

form {
    margin-top: 12px;
}

label {
    display: block;
    margin: 8px 0 4px;
    font-weight: 500;
    font-size: 14px;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 6px 8px;
    margin: 2px 0;
    border: 1px solid #ffffff;
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    min-height: 80px;
    resize: vertical;
}

button {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #e0e0e0;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
}