@if (isLoggedIn()) {
  <div class="you-logged-box"><h2 class="you-logged">Вы авторизованы!</h2></div>
} @else {
    @if(!isRegister()) {
        <form [formGroup]="form" class="form" (submit)="onLogin()">
            <h3 class="title">Вход в учетную запись</h3>

            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Как вас зовут?</mat-label>
            <input matInput formControlName="login" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Ваш пароль</mat-label>
            <input matInput formControlName="password" type="password" required />
            </mat-form-field>

            <button class="btn" (submit)="onLogin()">
            Войти
            </button>
        </form>
            <p class="register">Нет учетной записи?<p></p>
            <button class="out-btn" (click)="isRegister.set(true)">
                Создать
            </button>
            <button class="out-btn" mat-button (click)="onClose()">Отмена</button>
    } @else {
        <form [formGroup]="form" class="form-reg" (submit)="onRegister()">
            <h3 class="title">Регистрация</h3>

            <mat-form-field>
            <input matInput placeholder="Логин" formControlName="username" required />
            </mat-form-field>

            <mat-form-field>
            <input matInput placeholder="Email" formControlName="email"/>
            </mat-form-field>

            <mat-form-field>
            <input matInput type="password" placeholder="Пароль" formControlName="password" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>isAdmin?</mat-label>
                <mat-select formControlName="isAdmin">
                    @for (i of ["true", "false"]; track i) {
                    <mat-option [value]="i">{{ i }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" class="reg-btn" (submit)="onRegister()">Зарегистрироваться</button>
                <button mat-button (click)="isRegister.set(false)" class="reg-btn">Отмена</button>
            </div>
        </form>
    }
}