@import '../../../../variables.scss';

.blog-article {
    flex-direction: row;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    // margin-bottom: 100px;
}

.image-container-blog-article {
    // height: 454px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.text-container-blog-article {
    background-color: #F4FBF4;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    white-space: normal;
    word-break: break-word;
    -webkit-box-orient: vertical; 
}

.comments-not-found {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rating {
    display: block;
}

.bg-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

.article-title {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.blog-article:not(:first-child) .article-content {
    display: none;
}

.blog-article p:first-of-type {
    margin-bottom: 20px;
}

.blog-article time:first-of-type {
    font-weight: 300;
}

.image-container-blog-article {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-btn {
    background: none;
    position: absolute;
    transition: 0.3s ease;
    opacity: 0;
    right: 40px;
    top: -5px;
}

.delete-btn {
    background: none;
    position: absolute;
    transition: 0.3s ease;
    opacity: 0;
    right: 0;
    top: -7px;
}

.blog-article:hover .delete-btn, .blog-article:hover .edit-btn {
    opacity: 1;
    transition: 0.3s ease;
}

.delete-btn:hover {
    transform: scale(1.1);
}

.edit-btn:hover {
    transform: scale(1.1);
}

.auth-to-comment-box {
  max-width: 1200px;
  height: 200px;
  margin: 0 auto;
  padding: 24px;
  background-color: #f4fbf4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.auth-to-comment{
    margin-top: 65px;
}