<section class="hobby">
    <div class="hobby-article-grid">
        <h1 class="hobby-title">Hobby projects</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto earum omnis inventore fugiat architecto laboriosam.</p>
    </div>
    <div class="hobby-grid-box">
        <div class="hobby-vertical">
            <div class="hobby-image-1">
                <img src="./assets/images/me.jpg" alt="" class="bg-img">
                <div class="grad-overlay"></div>
                <h4>Hobby project name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="hobby-image-2">
                <img src="./assets/images/me.jpg" alt="" class="bg-img">
            </div>
        </div>
        <div class="hobby-horizontal">
            <img class="hobby-image-3" src="./assets/images/imagenotloaded.png" alt="Me" width="568" height="264">
            <img class="hobby-image-4" src="./assets/images/imagenotloaded.png" alt="Me" width="568" height="264">
        </div>
    </div>
</section>