@import '../../../../variables.scss';

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: end;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 1rem;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

a:hover {
    color: $hover-color;
    font-weight: bold;
    transition: color 0.3s ease, font-weight 0.3s ease;
    cursor: pointer;
}

.active {
    color: rgb(18, 129, 14);
    font-weight: bold;
}