
$primary-color: #323747;
$secondary-color: #68686A;
$hover-color: #61C15C;
$background-color: #ffffff;
$text-color: #323747;

:root {
    --img-myblogs: url('/assets/images/myblogs.png');
    --img-me: url('/assets/images/me.jpg');
    --img-imagenotloaded: url('/assets/images/imagenotloaded.png');
}