<div class="blog-article">
    <article class="blog-article" id="post" [class.is-first]="isFirst" (click)="onSelect()">
        <div class="image-container-blog-article">
            <img src="./assets/images/imagenotloaded.png" class="bg-image" alt="">
        </div>
        <div class="text-container-blog-article">
            <h3 class="article-title">{{article.title || 'Пост не найден'}}</h3>
            <p class="article-content">{{article.content}}</p>
            <time class="article-date">14 oct, 2026</time> 
        </div>
    </article>
    <button class="edit-btn" (click)="onEdit()">
            <img src="./assets/images/pencil2.svg" width="20px" height="20px">
        </button>
        <button class="delete-btn" (click)="onDelete()">
            <img src="./assets/images/cross.svg" width="25px" height="25px">
    </button>
</div>    
