<div class="comment-form-box" *appIsLoggedIn>
  <form [formGroup]="form" class="comments-form" (ngSubmit)="onSave()">
    <h3 class="title">Напишите свой отзыв об этой статье</h3>

    <div class="user-box">
      <img class="avatar" src="./assets/images/personlogo.svg" alt="Аватар">
      <h3 class="comment-username">{{ authService.currentUser()?.username }}</h3>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Комментарий</mat-label>
      <textarea matInput formControlName="content" rows="4" placeholder="Расскажите, как вам?" required></textarea>
      @if (form.controls['content'].invalid && form.controls['content'].touched) {
        <mat-error>Комментарий должен быть от 5 до 200 символов</mat-error>
      }
    </mat-form-field>

    <button type="submit" class="comment-form-btn" [disabled]="form.invalid">
      Отправить
    </button>
  </form>
</div>