<app-admin-panel
(openModal)="openModalForm()"
(openStats)="openModalStats()"
></app-admin-panel>

<button (click)="openAuthModal()"></button>

<section class="blogs">
    <div class="blogs-title-grid">
        <div class="blogs-title-block">
            <h1 class="blogs-title">My blogs</h1>
            <p>Lorem ipsum, dolor sit amet consectetur accusantium ipsum repellendus distinctio temporibus, nostrum magni explicabo officia.</p>
        </div>
        <div class="blogs-title-image">
            <img src="./assets/images/myblogs.png" alt="myblogs" width="213" height="216">
        </div>
    </div>

    <div class="blogs">
        <div class="blogs-grid">
            @for (article of paginatedArticlesWithRating(); track article.id) {
                
                <app-post 
                [article]="article" 
                [isFirst]="isFirstOnPage(article)"

                [averageRating]="article.averageRating"
                [ratingCount]="article.ratingCount">
                </app-post>
            }

            @empty {
                <h4 class="posts-not-found">Нет статей</h4>
            }
        </div>
    </div>
    <div class="loader-box">
            <div class="spinner"></div>
            <div class="loader">Загрузка...</div>
    </div>
    <button class="post-btn" id="blogs-btn">Next
        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.7071 8.07112C19.0976 7.6806 19.0976 7.04743 18.7071 6.65691L12.3431 0.292947C11.9526 -0.0975775 11.3195 -0.0975775 10.9289 0.292947C10.5384 0.683471 10.5384 1.31664 10.9289 1.70716L16.5858 7.36402L10.9289 13.0209C10.5384 13.4114 10.5384 14.0446 10.9289 14.4351C11.3195 14.8256 11.9526 14.8256 12.3431 14.4351L18.7071 8.07112ZM0 7.36401L-8.74228e-08 8.36401L18 8.36402L18 7.36402L18 6.36402L8.74228e-08 6.36401L0 7.36401Z" fill="#75BB7C"/>
        </svg>
    </button>

    <div class="pagination">
        @for (page of pageNumbers; track page) {
            <button
                [class.active]="page === currentPage()"
                (click)="goToPage(page)">
                {{ page }}
            </button>
        }
    </div>

</section>

@if (isArticleModalOpen()) {
    <app-form-modal
        [article]="editingArticle" 
        (save)="saveArticle($event)"
        (close)="closeModal()">
    </app-form-modal>
}

@if (isStatsModalOpen()) {
    <app-stats-modal
        [statsData]="statsData"
        (close)="closeModal()">
    </app-stats-modal>
}