@import '../../../../variables.scss';

.modal {
    position: fixed;
    margin: auto;
    left: 530px;
    top: 230px;
    width: 800px;
    height: 40%;
    background: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 8px;
    border-color: #ffffff;
    padding: 40px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    cursor: pointer;
}

.modal.show {
    display: flex;
}

.modal-backdrop.show {
    display: flex;
}

.stats-grid {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.stats-card {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

#stats-modal h1 {
    color: $text-color;
}

.stats-label {
    color: $secondary-color;
    font-size: 18px;
    font-weight: 500;
}

.stats-number {
    color: $text-color;
    font-size: 46px;
    font-weight: 800;
    line-height: 1;
}