<div class="modal-backdrop" (click)="closeOnBackdropClick($event)"></div>
    <div class="modal" id="modal">
        <div class="blog-form-box">
            <form [formGroup]="form" class="blog-form">
                <h1>Редактировать статью</h1>

                <label for="title">Заголовок</label>
                <input formControlName = "title" type="text" id="title" name="title" required placeholder="Заголовок статьи">

                <label for="content">Текст статьи</label>
                <textarea formControlName = "content" id="content" name="content" rows="5" required placeholder="Текст статьи"></textarea>

                <button (click)="onSave()" class="blog-form-btn" type="button">Сохранить</button>
                <button (click)="onClose()" class="btn"  id="close-btn" type="button">Отмена</button>
                <!-- <div class="loading-message">
                    <div class="spinner"></div>
                    <span>Добавление статьи...</span>
                </div> -->
            </form>
        </div>  
    </div>